[templates]
rust = "~/..."
go = "~/..."
haskell = "~/..."

[commands-before]
rust = ["echo \"creating: {{__NAME__}}\"", "cargo version"]

[commands-after]
rust = ["cargo check"]
haskell = ["ghc Main.hs"]
