[templates]
c = "/Users/willlane/dev/ctp/proj-example/"
cpp = "/Users/willlane/ctp-templates/bubbles" # https://github.com/willdoescode/ctp
rust = "/Users/willlane/ctp-templates/rust"
haskell = "/Users/willlane/ctp-templates/haskell"

[commands-before]
c = ["echo \"Creating c project in {{__OUT__}}\""]
cpp = ["echo \"Creating cpp project in {{__OUT__}}\""]
rust = ["echo \"Creating rust project in {{__OUT__}}\""]
haskell = ["echo \"Creating haskell project in {{__OUT__}}\""]

[commands-after]
c = ["gcc main.c -o {{__NAME__}}", "./{{__NAME__}}"]
cpp = ["rm .git"]
rust = ["cargo init"]
haskell = ["ghc Main.hs", "./Main"]
