[templates]
c = "/Users/willlane/dev/ctp/proj-example/"
cpp = "/Users/willlane/dev/bubbles" # https://github.com/willdoescode/bubbles

# Commands to run before project is generated
[commands-before]
c = ["echo {{__OUT__}}"]

# Commands to run in directory after project is generated
[commands-after]
c = ["gcc main.c -o {{__NAME__}}", "./{{__NAME__}}"]
cpp = ["rm .git"]
